button {
    margin-left: 5px;
}

.main-footer {
    position: fixed;
    bottom:0px;
    width:100%;
}

.wrapper {
    background-color: #fff!important; 
    filter: blur(12);   
}

.login-page {
    background: #54a8d8 !important;
}

.login-box-body {
    background-color:  #fff!important;
}

.login-box button {
    margin-left: 0px;
}

.login-box a:hover {
    cursor: pointer;
}