################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Services/ConsilioServices/.vs/ConsilioServices/v15
/Services/ConsilioServices/ConsilioServices.Application/obj
/Services/ConsilioServices/ConsilioServices.Domain/obj
/Services/ConsilioServices/ConsilioServices.Infrastructure.CrossCutting/obj
/Services/ConsilioServices/ConsilioServices.Infrastructure.Data/obj
/Services/ConsilioServices/ConsilioServices.ServiceApp/obj
/Services/ConsilioServices/ConsilioServices.Tests/obj
/Application/node_modules
/Services/ConsilioServices/ConsilioServices.Infrastructure.Data/bin/Debug/netcoreapp2.1
/Services/ConsilioServices/ConsilioServices.Application/bin/Debug/netcoreapp2.1
/Services/ConsilioServices/ConsilioServices.Domain/bin/Debug/netcoreapp2.1
/Services/ConsilioServices/ConsilioServices.Infrastructure.CrossCutting/bin/Debug/netcoreapp2.1
/Services/ConsilioServices/ConsilioServices.ServiceApp/bin/Debug/netcoreapp2.1
/Services/ConsilioServices/ConsilioServices.Tests/bin/Debug/netcoreapp2.1
/Services/ConsilioServices/ConsilioServices.Application/bin/Release/netcoreapp2.1
/Services/ConsilioServices/ConsilioServices.Domain/bin/Release/netcoreapp2.1
/Services/ConsilioServices/ConsilioServices.Infrastructure.CrossCutting/bin/Release/netcoreapp2.1/publish
/Services/ConsilioServices/ConsilioServices.Infrastructure.CrossCutting/bin/Release/netcoreapp2.1/win10-x64
/Services/ConsilioServices/ConsilioServices.Infrastructure.CrossCutting/bin/Release/netcoreapp2.1
/Services/ConsilioServices/ConsilioServices.Infrastructure.Data/bin/Release/netcoreapp2.1
/Services/ConsilioServices/ConsilioServices.ServiceApp/bin/Release/netcoreapp2.1
/Services/ConsilioServices/ConsilioServices.Tests/bin/Release/netcoreapp2.1
/Services/ConsilioServices/ConsilioServices.ServiceApp/Properties/PublishProfiles
